.vscode/
tmptmp/
publication_plots/1from_cpt10/*
*png
*.npy
rsa_data.csv
rsa_results.csv
.ipynb_checkpoints/
__pycache__/
_build
*.pyc
nohup.out
02_load_and_concatenate.py
03_run_ica.py
04_epoching.py
rsa_analysis_9x9.py
rsa_analysis_18x18.py
rsa_plotting.py
*_log.out
publication_plots/*.png
publication_plots/*.pdf
publication_plots/*.pickle
publication_plots/nmc3/*.png
publication_plots/nmc3/*.pdf
publication_plots/nmc3/*.csv
publication_plots/*/*.pdf
publication_plots/*/*.pickle
!publication_plots/fig1a.pdf
